.janelaFoco {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 96%);
  padding: 20px;
}
.h1foco {
  font-size: 24px;
}
.timerFoco {
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
}
.buttonFoco {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.buttonFoco:hover {
  background-color: #218838;
}