      
.relogioFundo {
  padding: 0;
  display: none;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  /*
  width:400px;
  height:400px;
  border-radius: 400px;
  */
  position: relative;
  box-shadow: 5px 5px 20px #000;
  background-position: 6px 12px;
  background-size: cover;
}

.parafuso{
  position: absolute;
  background: #ACF0F2;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  height: 10px;  
  width: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 8px #000;
}

.ponteiros {
  width: 200px;
  /*width: 400px;*/
  position: absolute;
  top: 50%;
  height: 2px;
  margin-top: -1px;
}

.seconds::before {
  content: '';
  display: block;
  background-color: #ACF0F2;
  height: 3px;
  width: 80px;
  /*
  height: 6px;
  width: 180px;
  */
  margin-left: 20px;
  margin-top: -1px;
  border-radius: 6px;
  box-shadow: 1px 1px 8px #000;
}

.minutes::before {
  content: '';
  display: block;
  background-color: #ACF0F2;
  height: 4px;
  width: 60px;
  /*
  height: 9px;
  width: 160px;
  */
  margin-left: 40px;
  margin-top: -1px;
  border-radius: 9px;
  box-shadow: 1px 1px 8px #000;
}

.hours::before {
  content: '';
  display: block;
  background-color: #00F0F2;
  /*background-color: #ACF0F2;*/
  height: 6px;
  width: 50px;
  /*
  height: 11px;
  width: 140px;
  */
  margin-left: 50px;
  margin-top: -1px;
  border-radius: 11px;
  box-shadow: 1px 1px 8px #333;
}

.hora12{
  position: absolute;
  display: block;
  margin-top: 2px;
  margin-left: 90px;
}

.hora6{
  position: absolute;
  display: block;
  margin-top: 180px;
  margin-left: 95px;
}

.hora9{
  position: absolute;
  display: block;
  margin-top: 85px;
  margin-left: 5px;
}

.hora3{
  position: absolute;
  display: block;
  margin-top: 85px;
  margin-left: 190px;
}

/* ----------Relogio Digital----------------- */
.relogioDigiFundo {
  display: block;
  text-align: center;
  background-color: #303030;
  width: 150px;
  color: #ACF0F2;
  font-family: Verdana, Arial, Tahoma, Serif;
  font-size:25px;
  border-radius: 5px;
}